<?xml version="1.0"?>
<configuration>
	
	<appSettings>
		<!-- Twitter API client oAuth settings -->
		<!-- TODO: Get the correct values for your own account from here: https://dev.twitter.com/apps -->
		
    <!--<add key="twitterConsumerKey" value="l9nLtqOARnV0kstsrXlxg" />
		<add key="twitterConsumerSecret" value="kDeieoKutn6f7jrC5NgTjxn8Tu2WrynVzlEyDlUR3K0" />-->

    <!-- Search
    <add key="twitterConsumerKey" value="pnKLDpNmWZnKioJHNC5yw" />
    <add key="twitterConsumerSecret" value="z3qNZqEydeGwV99CGH0grKduB6vCELV0v7iZO6bwU" />-->

    
    <add key="twitterConsumerKey" value="l9nLtqOARnV0kstsrXlxg" />
    <add key="twitterConsumerSecret" value="kDeieoKutn6f7jrC5NgTjxn8Tu2WrynVzlEyDlUR3K0" />


  </appSettings>

	<system.web>
	
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

	</system.web>

</configuration>